<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">addProduct</h1>
    <div class="buttons">
      <button class="button" ng-click="closeAddProduct()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="doAddProduct()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Product Name</span>
          <input type="text" placeholder="Product Name" ng-model="newProduct.product">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Product Price</span>
          <input type="number" placeholder="Product Price" ng-model="newProduct.price">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">submits</button>
        </label>
      </div>
    </form>
  </ion-content>

</ion-modal-view>
