<ion-view view-title="Products">
  <ion-nav-buttons side="right">
      <button class="button button-calm" ng-click="addProduct()">
        addYourProduct
      </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="product in products" href="#/app/products/{{product.id}}">
        {{product.product}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
