<ion-view view-title="Product">

  <ion-content>
    <div class="list card">
      <div class="item">
        <h3>name : {{product.product}}</h3>
        <h2>{{product.price}} €</h2>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <p>Nom du produit à ajouter:</p>

        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
